body {
    background-color: orange !important;
    font-family: 'Lotto', Arial, sans-serif, cursive;
    display: hidden;
    text-align: centered !important;
}

p {
 font-family: 'Lotto', Arial, sans-serif, cursive;
    background-color: green;
}
