body {
    background-color: paleturquoise;
    font-family: 'Lotto', Arial, sans-serif, cursive;
    display: hidden;
}

p {
 font-family: 'Lotto', Arial, sans-serif, cursive;
    background-color: green;
}
